*.laz
*.las
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
outputs/rasters/*
!outputs/rasters/.gitkeep
outputs/vector/*
!outputs/vector/.gitkeep
outputs/tables/*
!outputs/tables/.gitkeep
*.ipynb_checkpoints
__pycache__
.env
